/* || GENERAL STYLES */

body, html {
  font-family: 'Roboto Mono', monospace;
  background-color: blanchedalmond;
  height: 100vh;
}

h1 {
  text-align: center;
}

h2 {
  font-size: medium;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 1rem;
}

li {
  padding-bottom: 0.5rem;
}


/* || TOP BAR */

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: black;
}

.top-bar > p {
  margin-left: 4rem;
  margin-right: 4rem;
  color: whitesmoke;
}


/* || SITE WIDE */

.main-content {
  display: flex;
  margin: auto;
  margin-top: 5rem;
  width: 90%;
  min-height: 60%;
}


/* || FRIENDS */

.friends-container {
  flex: 1;
  margin-right: 2rem;
  background-color: wheat;
  border: 8px solid black;
  border-radius: 0.2rem;

}


/* || INFO */

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: orangered;
  border: 8px solid black;
  border-radius: 0.2rem;
}

.info {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0.5rem;
}

.personal-info > * {
  margin-bottom: 1.5rem;
}


/* || STEPS */

.steps-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  background-color: orangered;
  border: 8px solid black;
  border-radius: 0.2rem;
}

.steps > * {
  margin-bottom: 1.5rem;
}